{% extends "posts/base.html" %}

{% block content %}
<br>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">

        <h1>Simply Your API's</h1>
        <p>API Life is fun. But life is also busy. </p>
        <p>
            <br>
            <img src="https://ec2tododjango.s3.ap-southeast-2.amazonaws.com/Spartan.jpg" alt="AWS Spartan Django">
            <br>
        </p>
        <p>Jacques</p>
        <a role="button" class="btn btn-primary btn-lg" href="">Start</a>
    </div>

</div>



{% endblock %}